{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% for m in messages %}
<h5 class="text-success">{{m}}</h5>
{% endfor %}

<h1>Welcome to {{name.first_name}} {{name.last_name}} in your Profile.</h1>

    <a href="{% url 'change_pass_old' %}" class="btn btn-warning text-decoration-none" >Change Pass with  old pass</a>
    <br/>
    <br/>
    <a href="{% url 'change_pass' %}" class="btn btn-warning text-decoration-none" >Change Pass without  old pass</a>

{% endblock  %}